name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & push backend image
        run: |
          docker build -t dsp9391/discoverdollar-backend:latest ./backend
          docker push dsp9391/discoverdollar-backend:latest

      - name: Build & push frontend image
        run: |
          docker build -t dsp9391/discoverdollar-frontend:latest ./frontend
          docker push dsp9391/discoverdollar-frontend:latest

      - name: SSH & deploy to VM
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            cd /home/ubuntu/DiscoverDollarTask
            docker compose pull
            docker compose up -d
